@import  '../reset';
@import 'btn';
@import 'animation';

@mixin flexCenter(){
    display:flex;
    justify-content:center;
    align-items:center;
}


html{
    font-size: 10px;
}

body{
    background-color:hsl(212, 100%, 96%);
    color:#333;
}

.title{
    font-size:5.4rem;
    color:#56a5eb;
    margin-bottom:.9rem;
    animation: left 1.3s ease-in-out;

}

.supercenter{
    height: 100vh;
    @include flexCenter();
    flex-direction:column;
}

